

body{
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 0px;
}
#barra-topo{
    background-color: #8B008B;
    position: fixed;
    width: 100%;
    height: auto;
    padding:  10px;    
    display: block; 
    
}
#navegacao{
    color: white;
}
.barra-meio{
    padding: 60px;
    font-size: 40px;
    object-position: center;
    text-align: center;
    font-family: 'Acme', sans-serif;
    
}
#flores-1{
    width: 50%;
    position: center;
    padding: 30px;   
}
#img-1{
    background-image: url("../img/img-1.jpg");
    width: 100%;    
}
.img-2{
    
    width: 100%;
    overflow: hidden;
   
}
#img-2{
    width: 100%;
    
    
}
#texto-capa{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    background: rgba(0,0,0,0.2);
    justify-content: center;
    
}
#teste{
    font-size: 700%;
    display: inline;
    margin-top: 15%;
    color: #2c3e50;
    text-shadow: 2px 2px 4px #ccc;
    font-family: 'Lobster', cursive;
}
#teste-2{
    font-size: 700%px;
    display: inline;
    margin-top: 0%;
    color: #2c3e50;
    text-shadow: 2px 2px 4px #ccc;
    font-family: 'Lobster', cursive;

}
#bordados-1{
    padding: 10px;
    
}
#vitrine{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.footer{
    width: 100%;
    height: 50px;
    background-color: #8B008B;    
    text-align: center;
    color: white;        
}
.descricao{
    padding-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#mapa{

}
