<p>
  meu-primeiro2 works!
</p>


<app-cursos></app-cursos>

<section class="container">
  <article>
    <h3>Interpolation / Interpolção</h3>
    <p>String renderizada com interpolação: {{ url }}</p>
    <p>Resultado de 1 + 1 é: {{ 1 + 1 }}</p>
    <p>Resltado de 1 + 1 não é: {{ 1 + 1 + getValor() }}</p>
    <p>Curso de Angular e gosto de cuso:{{ cursoAngular && getCurtirCurso() }}</p>
  </article>

  <article>
    <h3>Property Binding</h3>
    <div class="row">
      <img src="{{urlImagem}}">
      <img [src]="urlImagem">
    </div>
  </article>

  <article>
    <h3>Class e Style Binding</h3>
    <div>
      Selecione uma classe
      <select #classe (change)="0">
        <option value="alert-success">Sucesso</option>
        <option value="alert-info">Info</option>
        <option value="alert-warning">Alerta</option>
        <option value="alert-danger">Erro</option>
      </select>
      <br><br>

      <div class="alert {{ classe.value }}" role="alert">
        <p>Texto Colorido de acordo com o combobox</p>

      </div>

      <div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'">Sucesso</div>
      <div class="alert" role="alert" [class.alert-info]="classe.value == 'alert-info'">Info</div>
      <div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning'">Alerta</div>
      <div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger'">Erro</div>

      <div class="alert alert-danger" role="alert" [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
        Esse texto somente aparece em caso de erro.
      </div>

    </div>
  </article>

  <article>
    <h3>Event Binding</h3>
    <div>
      <button (click)="botaoClicado() " class="btn btn-primary">
        Me Clique
      </button>

      <br><br>

      <input type="text"
      (keyup)="onKeyUp($event)"
      (keyup.enter)="salvarValor($event.target.value)"
      (blur)="salvarValor($event.target.value)">

      <p>Valor salvo: {{valorSalvo}}</p>
      <p>Valor atual: {{valorAtual}}</p>

      <br>
      <span
      (mouseover)="onMouseOverOut()"
      (mouseout)="onMouseOverOut()"
      [class.highlight]="isMouseOver">
      Passe o mause sobre mim.
        
      </span>
      <br>
    </div>
  </article>
  
</section>

<section class="two-way-binding container">
  <article>
    <h3>Two-way binding</h3>
    <div>
      
      <input type="text"
        [value]="nome"
        (input)="nome = $event.target.value"
      >

      <input type="text"
        [ngModel]="nome"
        (ngModelChange)="nome = $event"
      >

      <input type="text" [(ngModel)]="nome">      

      <p>voce digitou o nome: {{ nome }}</p>
      
      <!--Melhor metodo de Two-Way Data Binding-->
      <div>
        <p>Meu nome é {{ pessoa.nome }} e tenho {{ pessoa.idade}}</p>
        <input type="text" [(ngModel)]="pessoa.nome">
        <input type="text" [(ngModel)]="pessoa.idade">
      </div>

    </div>
  </article>
</section>

<br><br><br>